#main {
    
}

#title {
    font-weight: bold;
    text-align: center;
    background-color: rgb(228, 74, 126);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#img-div {

}

#image {
    width: 50%;
    display:block;
    margin:auto;
    max-width: 50%;
    border-radius: 5%;
}

#img-caption {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    background-color: blueviolet;
    color: white;
    padding: 2px;
}

#tribute-info {
    width: 70%;
    display:block;
    margin:auto;
    padding: 10px;
}

#tribute-link {
    display:block;
    margin:auto;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
}